<form (ngSubmit)="onLogin()">
    <h1 style="text-align: center; color: rgb(230, 224, 78); font-size: 250%;">Login</h1>
    <br>

    <input
        type="text"
        [(ngModel)]="email"
        name="email"
        placeholder="Enter your username"
        style="height: 1cm; width: 8cm; border-radius: 2ch; font-size: 100%; text-align: center; border-color: rgb(217, 220, 34); border-width: 0.5ch; border-style: groove;"
    />
    <br><br>

    <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        style="height: 1cm; width: 8cm; border-radius: 2ch; font-size: 100%; text-align: center; border-color: rgb(217, 220, 34); border-width: 0.5ch; border-style: groove;"
    />
    <br><br>

    <a href="#" style="color: rgb(217, 225, 67); display: inline-block;">Forgot Password?</a>
    <br><br>

    <button type="submit" style="font-size: 150%; width: 15%; border-radius: 1cm; height: 1cm; border-style: groove; border-color: yellow;">Login</button>
    <br><br>

    <div class="message" id="message" style="display: block; color: red; text-align: center;">Incorrect username or password</div>
</form>
